
// VARIABLES
$primary-font : 'Source Code Pro',monospace;


// GLOBAL STYLES
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
 font-family: $primary-font;

}

// MIXINS
@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}


.anime-card{
	// background-color: lightcoral !important;
	width: 25%;
	border: 3px solid black;
	height: 500px;
	margin : 2rem;
	display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: column;
}

.anime-container{
	// background-color: lightblue;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}



.all-anime-container{
	background-color: lightcyan;
	@include flexCenter();
	flex-direction: column;
	flex-wrap: wrap;
}

// .anime-img{
// 	max-width: 100%;
// 	max-height: 300px;
// }

.anime-title{
 text-align: center;
	max-width: 90%;
}

a.anime-card{
	text-decoration: none;
	color: #000;

	transition-duration: 0.5s;
}

a.anime-card:hover{
	color: #fff;
	background-color: #000;
}

.header-wrapper{
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem 0;
}

.form{
	display: flex;
	justify-content: space-between;
	width: 80%;
	padding: 0.5rem 0;
}

input{
	padding: 0.7rem;
	background-color: #000;
	border: none;
	border: 2px solid #fff;
	border-right:  0;
}

.search-btn{
	padding: 0.7rem 1rem;
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
}

.search-btn:hover{
	background-color: #fff;
	color: #000;
}

select {
	background-color: #000;
	color: #fff;
	padding: 
	0.7rem 1rem;
	border: 2px solid #fff;
	font-weight: 600;
	cursor: pointer;
}

// select:hover{
// 	background-color: #fff;
// 	color: #000;
// }

option:hover{
	background-color: #fff !important;
	color: #000 !important	;
}

input{
	color: #fff;
}

.logo{
	font-size: 3rem;
	padding: 0.5rem 0;
}

footer{
	background-color: #000;
	color: #fff;
	font-size: 0.6rem;
	padding: 1.5rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	a{
		color: #fff;
	}
	a:hover{
		color: red;
	}
}

.footer-wrapper{
	width: 80%;
}